<div class="register-container">
    <div class="register-form-container">
        <div class="title-section">
            <div style="font-size: 2rem; text-align: center;">Reset your password</div>
        </div>
        <div class="form-section" style="margin-bottom: 1rem;">
            <div class="required-fields">
                <span class="text-red-500 text-sm" style="vertical-align: top;">*</span>
                Required Fields
            </div>
            <form [formGroup]="resetPasswordForm">
                <ng-container *ngIf="!showAllFields">
                    <div style="margin-bottom: 1rem;">
                        <label for="email" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">Email <span class="text-red-500 text-sm"
                        style="vertical-align: top;">*</span> </label>
                        <input id="email"
                        [ngClass]="{'ring-1 ring-red-500': resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        (change)="onResetPasswordFormChange()" formControlName="email" placeholder="Please enter your email" />
                    </div>
                </ng-container>
                <ng-container *ngIf="showAllFields">
                    <div style="margin-bottom: 1rem;">
                        <label for="email" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">Email <span class="text-red-500 text-sm"
                        style="vertical-align: top;">*</span> </label>
                        <input id="email"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        formControlName="email" placeholder="Please enter your email" readonly/>
                    </div>

                    <div style="margin-bottom: 1rem;">
                        <label for="password" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">New Password <span class="text-red-500 text-sm"
                        style="vertical-align: top;">*</span></label>
                        <input type="password"
                        [ngClass]="{'ring-1 ring-red-500': resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        id="password" formControlName="password" placeholder="Please enter your new password (min. 6 characters required)" />
                    </div>
                    
                    
                    <div style="margin-bottom: 1rem;">
                        <label for="confirm-password" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">Confirm Password <span class="text-red-500 text-sm"
                        style="vertical-align: top;">*</span></label>
                        <input type="password"
                        [ngClass]="{'ring-1 ring-red-500': resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        id="confirm-password" formControlName="confirmPassword" placeholder="Please enter your new password again (min. 6 characters required)" />
                    </div>
                </ng-container>

                <div class="error-fields" style="margin-bottom: 1rem;" *ngIf="checkEqualPasswords()">
                    <small>Both the entered passwords should match</small>
                </div>

                <div class="error-fields" style="margin-bottom: 1rem;" *ngIf="wrongEmailError">
                    <small>User with entered email not registered yet</small>
                </div>

                <div class="btn-container">
                    <button *ngIf="showAllFields" class="action-btn back-btn" (click)="navigateToLogin()">Back to Login</button>
                    <button *ngIf="showAllFields" class="action-btn back-btn" (click)="backToEmail()">Back</button>
                    <button *ngIf="showAllFields" class="action-btn submit-btn" type="submit" [disabled]="checkValidity() || checkEqualPasswords()"
                        (click)="validateForm()">Reset Password</button>
                    <button *ngIf="!showAllFields" class="action-btn submit-btn" type="submit" [disabled]="resetPasswordForm.get('email')?.invalid || wrongEmailError"
                        (click)="forgotPassword()">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>