.register-container{
    background: url('../../assets/images/register-img.jpg');
    opacity: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .register-form-container{
        background-color: #F2F2F2;
        width: 50%;
        padding: 1rem;
        border-radius: 0.5rem;

        .title-section{
            margin-bottom: 1rem;
        }

        .required-fields{
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-bottom: 1rem;
            font-size: 0.75rem;
        }

        .btn-container{
            .action-btn{
                padding: 8px;
                font-size: 0.875rem;
                border-radius: 4px;
                cursor: pointer;
            }
            .submit-btn{
                width: 8rem;
                
                background-color: #0DBE5E;
                color: #FFFFFF;
               
                &:disabled{
                    color: black;
                    background: #DEDEDE;
                    cursor: not-allowed;
                }
            }
            .back-btn{
                background-color: #DEDEDE;
                margin-right: 0.5rem;
            }
        }
    }
}