.book-list-landing-page-container {
    width: 100%;
    min-height: 60vh;

    .listings-title{
        font-size: 1.25rem;
        font-weight: 600;
    }

    .book-search-container {
        position: relative;
        margin: 1rem 0;
    }

    .close-icon {
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 16px;
        top: 12px;
        cursor: pointer
    }

    .no-results {
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}