<div class="register-container">
    <div class="register-form-container">
        <div class="title-section">
            <div *ngIf="!detailsView && !this.bookId" style="font-size: 2rem; text-align: center;">Add New Book</div>
            <div *ngIf="!detailsView && this.bookId" style="font-size: 2rem; text-align: center;">Edit Book</div>
            <div *ngIf="detailsView" style="font-size: 2rem; text-align: center;">Book Details</div>
        </div>
        <div class="form-section" style="margin-bottom: 1rem;">
            <div class="required-fields">
                <span class="text-red-500 text-sm" style="vertical-align: top;">*</span>
                Required Fields
            </div>
            <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div style="margin-bottom: 1rem;">
                    <label for="title" class="block mb-2 text-sm font-medium" style="margin-bottom: 0.5rem;">Book Title
                        <span class="text-red-500 text-sm" style="vertical-align: top;">*</span> </label>
                    <input id="title"
                        [ngClass]="{'ring-1 ring-red-500': bookForm.get('title')?.invalid && bookForm.get('title')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        formControlName="title" placeholder="Please enter title of your book" />
                </div>

                <div style="margin-bottom: 1rem;">
                    <label for="author" class="block mb-2 text-sm font-medium" style="margin-bottom: 0.5rem;">Author
                        Name<span class="text-red-500 text-sm" style="vertical-align: top;">*</span> </label>
                    <input id="author"
                        [ngClass]="{'ring-1 ring-red-500': bookForm.get('author')?.invalid && bookForm.get('author')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        formControlName="author" placeholder="Please enter name of the author of the book" />
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="genre" class="block mb-2 text-sm font-medium" style="margin-bottom: 0.5rem;">Genre<span
                            class="text-red-500 text-sm" style="vertical-align: top;">*</span> </label>
                    <input id="genre"
                        [ngClass]="{'ring-1 ring-red-500': bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        formControlName="genre" placeholder="Please enter the genre" />
                </div>

                <div style="margin-bottom: 1rem;">
                    <label for="condition" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">Condition of Book
                        <span class="text-red-500 text-sm" style="vertical-align: top;">*</span></label>
                    <input id="condition"
                        [ngClass]="{'ring-1 ring-red-500': bookForm.get('condition')?.invalid && bookForm.get('condition')?.touched}"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                        formControlName="condition" placeholder="Please enter the condition of your book" />
                </div>

                <div style="margin-bottom: 1rem;">
                    <label for="availability" class="block mb-2 text-sm font-medium"
                        style="margin-bottom: 0.5rem;">Availability Status of your Book <span class="text-red-500 text-sm"
                            style="vertical-align: top;">*</span></label>
                    <select placeholder="Specify whether the book availabiltiy status" formControlName="availabilityStatus" id="availability"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5">
                        <option value="" disabled selected>Select your option</option>
                        <option value="true">Available</option>
                        <option value="false">Not Available</option>
                    </select>
                </div>

                <div class="btn-container">
                    <button class="action-btn back-btn" (click)="navigateToHome()">Back to Home</button>
                    <button *ngIf="!detailsView" class="action-btn submit-btn" type="submit" [disabled]="checkValidity()"
                        (click)="validateForm()">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>