.landing-page-container{
    height: 100vh;
    background-color: #F2F2F2;
    .landing-page-body{
        height: 90vh;
        padding: 2rem 4rem;
        overflow: auto;
        
        .landing-page-title-section{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .user-name{
                font-size: 2rem;
                font-weight: 500;
            }

            .add-book-btn{
                padding: 8px;
                width: 6rem;
                font-size: 0.875rem;
                background-color: #0DBE5E;
                color: #FFFFFF;
                border-radius: 4px;
                cursor: pointer;
                &:disabled{
                    color: black;
                    background: #DEDEDE;
                    cursor: not-allowed;
                }
            }
        }
    }
}